<section class="container criar-pensamentos ff-inter">
  <header class="header">
      <h2>Adicione um <br>pensamento novo:</h2>
  </header>
  <form>
    <label for="pensamento">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="pensamento"
      name="pensamento"
      placeholder="Digite o pensamento"
    >
    <label for="autoria">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="autoria"
      name="autoria"
      placeholder="Digite o autoria ou fonte"
    >
  </form>
</section>
