footer {
  background-image: url(/assets/imagens/fundo-rodape.png);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 30px;
  gap: 0px 0px;
  grid-template-areas:
    "TextoCopyright LogoRodape .";
  align-items: center;
  padding: 2rem ;
}

.TextoCopyright {
  justify-self: center;
  grid-area: TextoCopyright;
}

footer small {
  color: white;
  font-size: 19px;
  position: absolute;
  transform: translate(-50%, -50%);
  padding-top: 50px;
  align-items: center;
  justify-content: center;
}
